<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <application android:label="@string/app_name" android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Jyoti" android:allowBackup="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LegalActivity" android:exported="false" />
        <activity android:name=".ScreenLightActivity" android:exported="false" />
        <service android:name=".JyotiTileService" android:exported="true"
            android:icon="@drawable/ic_tile" android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QSTILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
    </application>
</manifest>
